//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.12 (64-bit)
//Part Number: GW5AST-LV138FPG676AC2/I1
//Device: GW5AST-138
//Device Version: C
//Created Time: Fri 04 24 11:32:19 2026

IO_LOC "led" M19;
IO_PORT "led" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SFP_TX_DISABLE" R25;
IO_PORT "SFP_TX_DISABLE" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "rst_n" U17;
IO_PORT "rst_n" IO_TYPE=LVCMOS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "clk" N21;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
